<div id="place_save" class="btn btn-info btn-xs">現在地を取得する</div>
<input type="text" id="val_place_address">
<!-- 緯度latitude、経度longitudeは隠しデータとして取得 -->
<input type="hidden" id="val_latitude">
<input type="hidden" id="val_longitude">