<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<!-- ここから編集 -->
<div class="user_show_wrapper">
	<!-- 左カラム -->
	<div class="user_left_column">
		<div class="user_left_column_content">
			<hr>
			<span>プロフィール</span>
			<hr>
			<span>お気に入り一覧</span>
			<hr>
			<span>新規投稿</span>
			<hr>
			<span>投稿中の記事を編集終了する</span>
			<hr>
			<span>ユーザー情報を編集する</span>
		</div>
	</div>
	<!-- 右カラム -->
	<div class="user_right_column">
		<div class="user_header"></div>
		<div class="user_show_content">
			<hr>
			<h2>ニックネーム</h2>
			<hr>
			<h3>プロフィール</h3>
				<p>プロフィールの文章が入る</p>
			<hr>
			<h3>最近の旅</h3>
			<span>一番最近に更新したやつのタイトル<span>
				<p>サムネイル10枚繰り返し</p>
			<hr>
			<%= link_to "もっと見る", timelines_path %>
		</div>
	</div>
</div>