<div class="error_wrapper">
	<div class="error_container">
		<h1>404 Not found.</h1>
		<div class="error_container_message">
			<p>
				お探しのページは<br>
				見つかりませんでした
			</p>
		</div>
		<%= link_to "Topに戻る", "/", class: "btn btn-info" %>
	</div>
</div>