<!-- Clipボタン -->
<%if user_signed_in? %>
	<% if timeline.cliped_by?(current_user) %>
	<div id="clip-btn-js<%= timeline.id %>">
		<%= button_to clip_path(@clip ,timeline_id: timeline.id), method: :delete, remote: true do %>
			<span class="glyphicon glyphicon-paperclip clip-btn clipped" style="color: red;" aria-hidden="true"></span>
		<% end %>
	</div>
	<% else %>
	<div id="clip-btn-js<%= timeline.id %>">
			<%= button_to clip_path(timeline), method: :post, remote: true do %>
				<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
			<% end %>
		<% end %>
	</div>
<% end %>
<!-- Clipボタンここまで -->