<h1>Timelines#edit</h1>
<p>Find me in app/views/timelines/edit.html.erb</p>

<!-- ここから編集 -->
<div class="sign_wrapper">
	<div class="timeline_edit">
		<h2>タイトルを編集する</h2>
		<div class="timeline_edit_form">
			<label>title</label><br>
			<input class="f_long">
		</div>
		<input type="submit" value="投稿" class="btn btn-info">
	</div>
</div>