<div class="sign_wrapper">
	<div class="timeline_edit text-center">
		<h1>タイムラインを新規作成する</h1>
		<p>
		タイムラインを通常の手順で新規作成できなかった方に、このページが表示されています。
		</p>
		<br>
		<%= link_to "タイムラインを新規作成する", timelines_path, method: :post ,class: "btn btn-default btn-lg" %>
	</div>
</div>