
<div class="timelines_index_header">
	<h1 class="text-center">Timelines#index</h1>
</div>

	<div class="container">
		<!-- % @timelines.each do |timeline| %> -->
			<!-- TODO:@user, :profile_image, に変更 -->
			<div class="timeline-thumbnail">
				<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
				<div class="timeline-thumbnail-text">
					<div class="timeline-thumbnail-text_js">
						<h3>title文字列最初の10文字..</h3>
						<span>xxxx.xx.xx</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
				<p>
					<span class="label label-info">New</span>
					<span>title</span>
				</p>
			</div>
		<!-- % end %> -->
</div>