
// home#index
.home_box_wrapper {
	margin-top: 100px;
}
.home_box_wrapper h1 {
	text-align: center;
	font-size: 50px;
}
.home_box {
	width: 780px;
	margin: 0 auto;
	padding: 50px;
	font-size: 20px;
	letter-spacing: 5px;
	line-height: 1.5em;
}

// レスポンシブ
@media screen and (max-width: 750px) {
	.home_box_wrapper h1 {
		font-size: 25px;
	}
	.home_box {
		width: 80%;
		font-size: 15px;
		padding: 10px 0;
		letter-spacing: 1px;
	}
}