// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// timelines#index
.timelines_index_header {
	width: 100%;
	height: 200px;
	background-image: url(/images/timeline_back.jpg);
	background-position: 0 10%;
	background-size: cover;
	background-color: #fff;
	text-align: center;
}
.timelines_index_header img {
	width: 100%;
}
.timelines_index_header span {
	font-size: 33px;
	color: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

// timeline#show,new
.timeline_show_nav {
	background-color: #1b435d;
	padding: 10px 0 5px 50px;
}
.timeline_show_nav span {
	color: #fff;
}
.timeline_user_icon {
	width: 30px;
	height: 30px;
	display: inline-block;
}
.timeline_user_icon_img {
	border-radius: 50%;
}
.timeline_show_title {
	font-size: 15px;
	margin-right: 30px;
}
.timeline-show-edit_icon {
	display: inline-block;
	padding: 5px;
	margin-left: 30px;
	color: #58d;
}

.timeline_show_content_wrapper {
	width: 100%;
	background-color: #78bbe6;
}
.timeline_show_day {
	width: 100%;
	padding-bottom: 15px;
	padding-left: 10px;
	font-size: 25px;
	font-weight: bold;
}

.timeline_column_wrapper {
	background-color: #78bbe6;
}

.timeline_show_content {
	display: flex;
	background-color: #fff;
	margin-left: 50px;
	border-left: 5px solid #f99f48;
}
.timeline_left_column {
	background-color: #78bbe6;
}
.timeline_left_column_t {
	width: 200px;
	margin-top: 20px;
	padding-right: 20px;
	position: relative;
	top: -35px;
 	left: -18px;
}
.timeline_left_column_t table {
	font-size: 16px;
	width: 180px;
}
.timeline-show-article-wrapper {
	width: 80%;
	padding-top: 10px;
	padding-left: 20px;
	// background-color: #ddf;
}
.timeline-show-btn {
	display: inline-block;
	padding: 10px;
}
// Article_image拡大表示モーダル
// .article_image_modal_wrapper {
// 	display: none;
// 	z-index: 100;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	height: 100vw;
// 	width: 100vw;
// 	padding-top: 20px;
// 	background-color: rgba(0, 0, 0, 0.5);
// }
// .article_image_modal_image_wrapper {
// 	max-width: 800px;
// 	margin: 0 auto;
// }
// .article_image_modal_image {
// 	max-width: 100%;
// 	max-height: 100%;
// }
// Article_image拡大表示モーダル

// 右カラム
// .timeline-right-column {
// 	background-color: blue;
// 	z-index: 5;
// }

// timeline#edit
.timeline_edit_wrapper {
	margin: 10px 0;
	z-index: 60;
	display: none;
}
.timeline_edit {
	padding: 30px;
}
.timeline_edit_form {
	padding: 20px 0;
}

// timelines#ranking
.timelines-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}
.timelines-nav {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	border-right: 1px solid #333;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	color: #333;
}
.timelines-nav:hover {
	background-color: #78bbe6;
}

.ranking-wrapper {
	width: 100%;
	display: flex;
}

.rank_image {
	width: 220px;
}

.rank {
	width: 100%;
	position: relative;
}
.rank img {
	width: 100%;
	height: 200px;
}
.rank-btn {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	padding: 5px;
	background-color: #fff;
	font-size: 20px;
	text-align: center;
}
.rank_1 {
	color: gold;
}
.rank_2 {
	color: silver;
}
.rank_3 {
	color: beige;
}
// rankingusinn
.rank_index_title {
	padding: 5px 0;
	padding-left: 50px;
	background-color: #1b435d;
	color: #fff;
}

.rank-index-title h2 {
	font-size: 20px;
}

.rank-index-btn_wrapper {
	text-align: right;
	padding: 10px 0;
	padding-right: 30px;
}

.rank_index_content {
	margin: 0 auto;
	padding: 20px 50px;
	font-size: 16px;
}

.rank_index_infobox_wrapper {
	max-width: 700px;
	border-radius: 5px;
	border: 1px solid #78bbe6;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
}

.rank_index_infobox_title {
	margin: 10px 0;
	display: flex;
	border-bottom: 1px solid #78bbe6;
}
.rank_index_infobox_title span {
	margin: 20px;
	font-size: 20px;
}

.rank_index_infobox {
	display: flex;
	text-align: left;
}

.rank_index_user_image {
	width: 220px;
}
.rank_index_user_body {
	padding-top: 10px;
}
.rank_index_user_image_btn {
	margin-top: 10px;
}
.rank-index-profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #fff;
	border: 2px solid #78bbe6;
}

.rank_index_user_infobox {
	padding-left: 10px;
}
.rank_index_posts_number_wrapper {
	display: flex;
	flex-wrap: wrap;
}
.rank_index_posts_number {
	margin: 20px 20px 20px 0;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #78bbe6;
	text-align: center;
}

// レスポンシブ
@media screen and (max-width: 750px) {
// show, new
	.timeline_show_day {
		display: none;
	}
	.timeline_show_content {
		display: block;
		margin-left: 0;
		border-left: none;
	}
	.timeline_left_column_t {
		width: 100%;
		margin-top: 0;
		padding-top: 5px;
		padding-right: 0;
		position: static;
	}
	.timeline_left_column_t table {
		width: 100%;
	}
	.timeline-show-article-wrapper {
		width: 90%;
		margin: 0 auto;
	}
	.timeline_article_icon {
		width: 45px;
		text-align: center;
	}
	// Article_image拡大表示モーダル
	// .article_image_modal_wrapper {
	// 	padding-top: 0;
	// 	height: 100%;
	// }
	// .article_image_modal_image {
	// 	max-width: 100%;
	// 	max-height: 100%;
	// }
	// Article_image拡大表示モーダル

}